{{> header}}
{{> in_nav}}

<div class="container my-5">
  <div class="row">
    <div class="col-md-8">
      <h2 class="font-weight-bold" style="font-size: 48px;">{{title}}</h2>
      <p class="font-italic" style="font-size: 24px;">{{artist}}</p>
      <p style="font-size: 18px;">{{album}}</p>
      <button onclick="location.href='/history'" class="btn btn-dark mt-3">Historical Context</button>
    </div>
    <div class="col-md-4">
      <!-- Spotify Embed Placeholder -->
    </div> 
  </div>

  <!-- Analysis Section -->
  <div class="row mt-5">
    {{#each analysisResults}}
      <div class="col-12 mb-4">
        <div class="row">
          <div class="col-md-6">
            <pre>{{{this.lyric}}}</pre>
          </div>
          <div class="col-md-6">
            <p>{{{this.analysis}}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

{{> footer}}


<!-- Additional styles -->
<style>
  body {
    font-family: Arial, sans-serif; /* or the font you're using */
  }
  .btn-dark {
    background-color: #000;
    color: #fff;
    border: none;
  }
  .btn-dark:hover {
    background-color: #333;
  }
  /* Add other styling as needed */
</style>